.admin-mainContainer{
    display: grid;
    grid-template-columns: 140px auto;
    flex: 1;
}
.redactorMenu-container{
    box-sizing: border-box;
    padding-top: 60px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    background-color: rgb(53, 63, 64);
    color: white;
   
}
.redactorMenu-item{
    font-size: 16px;
    height: 60px;
    text-align: center;
    align-content: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.redactorMenu-item:hover{
    background-color: #FFCC00;
    color: black;
}
.logoutButton{
    margin-right: 100px;
    color: black;
    background-color: #FFCC00;
    height: 30px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
.admin-logoutContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 63, 64);
    color: white;
    height: 60px;
    align-items: center;
}
@media (max-width:1080px) {
.logoutButton{
    font-size: 18px;
}
}
@media (max-width:768px) {
    .logoutButton{
    font-size: 16px;
    margin-right: 10px;
}
}
