input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
  -moz-appearance: textfield;
}
.cartContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.cartItem-infocontainer{
    display: flex;
    align-items: center;
}
.cartItem-container{
    display: flex;
    align-items: center;
}
.cartItem-maincontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
.cartItem-image{
    box-sizing: border-box;
    width: 157px;
    height: 157px;
}
.cartItem-name{
    font-size: 20px;
    max-width: 290px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cartItem-button{
    width: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: #FFCC00;
    font-size: 64px;
    box-sizing: border-box;
    line-height: 0px;
    height: 50px;
}
.cartItem-quantity{
    max-width: 55px;
    height: 50px;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
}
.cartItem-price{
    font-size: 22px;
    margin-right: 40px;
}
.cartItem-deletebutton{
    color:white;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #353F40;
}
.minus{
margin-right: 30px;
padding-bottom: 10px;
box-sizing: border-box;
}
.mainCartContainer{
    width: 80%;
    max-width: 1220px;
    margin: 0 auto;
}
.cartHeader-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: #353F40;
    color: white;
}
.cartHeader-quantity{
    margin-right: 195px;
}
.cartHeader-name{
    margin-left: 200px;
}
.cartHeader-price{
    margin-right: 55px;
}
.isEmpty-lable{
    text-align: center;
    flex: 1;
}
.sendButton{
    display: block;
    height: 70px;
    width: 250px;
    border-radius: 2px;
    font-size: 22px;
    background-color: #353F40;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.mobileMenuHeader{
    display: none;
}
.controllButtonGroup{
    display: flex;
}
.alertText{
    font-size: 22px;
    display: block;
}
.alertText-container{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.lamp{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}
.deliveryText{
    font-size: 20px;
    margin-bottom: 5px;
}
.deliveryAdres{
    width: 340px;
    height: 30px;
    font-size: 20px;
}
.errorText{
    color: rgb(210, 83, 83);
}
.deliveryWrap{
    margin-left: auto;
    width: 350px;
}

@media (max-width: 1280px) {
    .mainCartContainer {
        width: 100%;
    }
    .cartHeader-name {
        margin-left: 190px;
    }
    .cartHeader-quantity {
        margin-right: 210px;
    }
    .cartItem-name {
        max-width: 250px;
        font-size: 20px;
    }
    .cartItem-price {
        font-size: 20px;
        margin-right: 30px;
    }
    .cartItem-maincontainer {
        box-sizing: border-box;
        padding: 0 20px;
    }

}

/* 1080px */
@media (max-width: 1080px) {
    
    .cartHeader-name {
        margin-left: 180px;
    }
    .cartHeader-quantity {
        margin-right: 180px;
    }
    .cartHeader-price {
        margin-right: 40px;
    }
    .cartItem-image {
        width: 140px;
        height: 140px;
    }
    .cartItem-name {
        max-width: 220px;
        font-size: 18px;
    }
    .cartItem-price {
        font-size: 18px;
        margin-right: 25px;
    }
    .cartItem-button {
        width: 45px;
        height: 45px;
        font-size: 56px;
    }
    .cartItem-quantity {
        max-width: 50px;
        height: 45px;
        font-size: 24px;
    }
    .cartItem-deletebutton {
        width: 130px;
        height: 45px;
    }
    .sendButton{
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-right: 20px;
    }
}

/* 820px */
@media (max-width: 820px) {

    .cartHeader-container {
        font-size: 18px;
    }
    .cartHeader-name {
        margin-left: 170px;
    }
    .cartHeader-price {
        margin-right: 30px;
    }
    .cartHeader-quantity {
        margin-right: 150px;
        font-size: 16px;
    }
    .cartItem-maincontainer {
        padding: 15px 20px;
    }
    .cartItem-infocontainer {
        margin-bottom: 15px;
    }
    .cartItem-container {
        flex-wrap: wrap;
    }
    .cartItem-image {
        width: 120px;
        height: 120px;
    }
    .cartItem-name {
        flex: 1;
        margin-left: 15px;
        font-size: 16px;
        max-width: 150px;
    }
    .cartItem-price {
        font-size: 16px;
        text-align: center;
        margin:10px 0;
        margin-right: 10px;
    }
    .minus {
        margin-right: 0;
    }
    .cartItem-deletebutton {
        width: 110px;
        height: 40px;
        font-size: 16px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .cartHeader-container {
        font-size: 16px;
        height: 45px;
    }
    .cartHeader-name {
        margin-left: 150px;
    }
    .cartHeader-quantity {
        margin-right: 140px;
    }
    .cartHeader-price {
        margin-right: 25px;
    }
    .cartItem-image {
        width: 100px;
        height: 100px;
    }
    .cartItem-button {
        width: 40px;
        height: 40px;
        font-size: 48px;
    }
    .cartItem-quantity {
        max-width: 45px;
        height: 40px;
        font-size: 20px;
    }
    
    .sendButton {
        height: 60px;
        width: 220px;
        font-size: 20px;
    }
}

/* 640px */
@media (max-width: 640px) {
    .cartHeader-name {
        font-size: 15px;
        margin-left: 120px;
    }
    .cartHeader-quantity {
        margin-right: 120px;
        font-size: 15px;
    }
    .cartHeader-price {
        font-size: 15px;
        margin-right: 25px;
    }
    .cartItem-image {
        width: 80px;
        height: 80px;
    }
    .cartItem-button {
        width: 35px;
        height: 35px;
        font-size: 40px;
    }
    .minus{
        padding-bottom: 4px;
    }
    .cartItem-quantity {
        max-width: 40px;
        height: 35px;
        font-size: 18px;
    }
    .cartItem-deletebutton {
        width: 90px;
        height: 35px;
        font-size: 12px;
    }
    .sendButton {
        height: 50px;
        width: 200px;
        font-size: 18px;
    }
    .cartHeader-container {
        height: auto;
        padding: 10px 0;
    }
    .cartItem-name {
        margin-left: 0;
        font-size: 14px;
        margin-top: 10px;
    }
    
    .cartItem-price {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .cartItem-maincontainer {
        margin-bottom: 20px;
    }
}

/* 576px */
@media (max-width: 576px) {
        .mobileMenuHeader{
    display: block;
    margin-left: 40px;
    font-size: 22px;

}
    .hide{
        display: none;
    }
    .cartItem-maincontainer{
        flex-direction: column;
    }
    .cartItem-infocontainer{
        flex-direction: column;
    }
    .cartItem-image {
        width: 150px;
        height: 150px;
    }
    .cartItem-button {
        width: 35px;
        height: 35px;
        font-size: 40px;
    }
    .cartItem-name{
        margin-left: 20px;
        margin-right: 20px;
        max-width: none;
    }
    .minus{
        padding-bottom: 4px;
    }
    .cartItem-quantity {
        max-width: 40px;
        height: 35px;
        font-size: 18px;
    }
    .cartItem-deletebutton {
        margin-top: 20px;
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
    .cartItem-container{
        flex-direction: column;
    }
    .sendButton {
        height: 50px;
        width: 200px;
        font-size: 18px;

    }
}

/* 432px */
@media (max-width: 432px) {
    .cartItem-maincontainer {
        padding: 10px 0;
    }
    .cartItem-image {
        width: 150px;
        height: 150px;
    }
    .cartItem-price {
        margin-bottom: 10;
    }
    .cartItem-infocontainer{
        margin-bottom: 0px;
    }
}