.categoryItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}
.categoryName{
    font-size: 20px;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.categoryRedactorTitle{
    margin-top: 20px;
}
.inputFeatureContainer {
    display: flex;
    margin: 10px 0;
    gap: 20px;
    flex-wrap: nowrap;
}
.categoryInput{
    font-size: 18px;
    width: 300px;
}
.featureInput{
    font-size: 18px;
    width: 100px;
}
.marginBeforFeatures{
    margin-bottom: 50px ;
}
.selectSrcOption{
    width: 226px;
    height: 40px;
    font-size: 18px;
}
.featureValueContainer{
    display: flex;
    margin: 10px 0;
    width: 95%;
}
.warningText{
    font-size: 24px;
    margin: 0 auto;
    margin-top: 30px;
}
.categoryInputContainer{
    display: flex;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    flex-direction: column;
    width: 550px
}
.errorTest{
    color: rgb(210, 83, 83);
    font-size: 16px;
}
.categoryMainWrap {
    margin-left: 30px;
    margin-bottom: 30px;
}
.categoryTitle{
    font-size: 24px;
    margin: 20px 10px;
}
.categoryButtonContainer{
    margin: 10px 0;
    display: flex;
    padding-block: 5px;  
}
.changeCategory{
    display: block;
    margin-right: 40px;
    color: white;
    background-color: rgb(53,63,64);
    height: 40px;
    font-size: 20px;
    max-width: 250px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid black;
}
.deleteCategory{
    display: block;
    color: black;
    background-color: #FFCC00;
    height: 40px;
    font-size: 20px;
    max-width: 250px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid black;
}
.controllButtonContainer{
    margin: 10px 0;
    display: flex;
    padding-block: 5px;
    border-bottom: 1px solid black;
}
.categoryImagePreview{
  height: 150px;
  width: 150px;
}