.categoryContainer{
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.HeaderWrap{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.katalogTitle{
    max-width: 1300px;
    font-size: 46px;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.notFoundText{
    margin-top: 30px;
}
@media screen and (max-width: 1240px) {
    .katalogTitle{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
}
}
@media screen and (max-width: 948px) {
        .katalogTitle{
    font-size: 38px;
    margin-top: 35px;
    margin-bottom: 15px;
}
}
@media screen and (max-width: 660px) {
    .categoryContainer{justify-content: space-around;}
    .katalogTitle{
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 0px;
}
}