.categoryContainer{
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 90%;
}
.HeaderWrap{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.katalogTitle{
    font-size: 46px;
}
.searchInput{
    font-size: 18px;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.searchWrap{
    margin: 0px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.searchButtonWrap{
    margin: 0px;
    display: flex;
    align-items: flex-end;
}
.headerTitleWrap{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    font-size: 46px;
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.resultItem{
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.searchButton{
    height: 50px;
    width: 50px;
    gap: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(53, 63, 64);
    font-size: 24px;
    color: white;
}
.notFoundText{
    margin-top: 30px;
}
.resultBlock{
    max-height: 300px;
    overflow-y: auto;
}
.messageWrap{
    font-size: 18px;
    text-align: center;
    margin: 20px 10px;
}
.resultWrap{
    border: 1px solid black;
    max-height: 300px;
    position: relative; 
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    align-self: flex-start;
    transform: translateY(56px);
    z-index: 3;
    overflow: hidden;    
}
.searchCleanButton{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #FFCC00;;
    font-size: 24px;
}
@media screen and (max-width: 1255px) {
    .katalogTitle{
    font-size: 40px;

}
.headerhWrap{    margin-top: 40px;
    margin-bottom: 15px;}

}
@media screen and (max-width: 950px) {
        .katalogTitle{
            font-size: 38px;  
            border-bottom: 1px solid black; 
        }
        .headerTitleWrap{    
            margin-top: 35px;
            flex-direction: column;
            margin-bottom: 15px;
            border-bottom: none;
            gap: 10px;
        }
        .searchInput {
            font-size: 20px;
        }
}
@media screen and (max-width: 700px) {
.categoryContainer {
    margin: 0 auto;
}
.searchWrap{
    gap: 10px;
    align-items: start;
}
.searchButton {
    margin: 0px;
 margin-right: 10px;
}
.headerTitleWrap{    
    margin-top: 30px;
    margin-bottom: 0px;}

}
@media screen and (max-width: 481px) {
        .searchInput {
        width: 300px;
    }
    .searchButton{
        width: 40px;
        height: 40px;
    }
    .searchCleanButton{
        width: 40px;
        height: 40px;
    }
    .searchInput{
        height: 40px;
        font-size: 18px;
    }
}