.categoryCardWraper{
    height: 100%;
    width: 250px;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
}

.categoryCardImageWrap{
    height: 220px;
    max-width: 250px;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
}
.categoryCardImage{
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.categoryProductName{
    height: 90px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}
.productPrice{
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.toCart{
    width: 95%;
    background-color: rgba(53, 63, 64);
    font-size: 24px;
    color: white;
    text-align: center;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    margin: 5px 6px;
}
@media screen and (max-width: 1280px){
    .categoryCardWraper{
        margin-top: 20px;
    }
}
