.mainInfo-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    width: 90%;
    max-width: 1220px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
}
.mainInfo-header{
    font-size: 28px;
    padding: 0 10px;
    padding-top: 20px;
    max-height: 30%;
    text-align: center;
}
.mainInfo-text{
    font-size: 16px;
    padding: 20px 10px;
    max-height: 70%;
    white-space: pre-wrap;
}
.pageContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}
.mainInfo-img{
    width: 100%;
}
.ditailsTitle{
    margin: 0 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 28px;
}
.ditailsText{
    margin: 0 50px;
    font-size: 18px;
    margin-bottom: 20px;
    white-space: pre-wrap;
}
.ditails{
    display: block;
    text-align: center;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(53,63,64);
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}