.Info-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
}
.Info-header{
    font-size: 28px;
    padding: 0 10px;
    padding-top: 20px;
    max-height: 25%;
    text-align: center;
}
.Info-text{
    font-size: 16px;
    padding: 20px 10px;
    max-height: 75%;
    white-space: pre-wrap;
}
.Info-img{
    width: 100%;
    height: 100%;
}
.skeleton-shimmer{
       aspect-ratio: 16 / 9;
    width: 100%;
    position: relative;
    background: linear-gradient(
        115deg,
        #e0e0e0 0%,
        #e0e0e0 40%,
        #f5f5f5 50%,
        #e0e0e0 60%,
        #e0e0e0 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
}
@keyframes shimmer {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}
.ditails{
    display: block;
    text-align: center;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(53,63,64);
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}