.discountMainWrap{
    margin-left: 30px;
    margin-bottom: 30px;
}
.imagePreview{
    width: 200px;
    height: 100px;
}
.discountControllButtonContainer {
    margin: 10px 0;
    display: flex;
    padding-block: 5px;
    margin-right: 20px;
    
}
.headerDorder{
    border-bottom: 1px solid black;
}
.changeDiscount{
    display: block;
    border-radius: 2px;
    margin-right: 40px;
    color: white;
    background-color: rgb(53,63,64);
    height: 40px;
    font-size: 20px;
    max-width: 450px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid black;
}
.deleteDiscount{
    border-radius: 2px;
    display: block;
    color: black;
    background-color: #FFCC00;
    height: 40px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
}
.discountDitails-text{
    font-size: 20px;
    display: block;
    margin: 10px 0;
}
.discountDitails-header{
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.inputContainer{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
}
.imageInput{
    display: block;
    color: white;
    font-size: 18px;
    background-color: rgb(53,63,64);
}
.titleInput{
    display: block;
    width: 610px
    ;
    font-size: 16px;
}
.textInput{
    display: inline-block;
    width: 610px;
    height: 210px;
    font-size: 16px;
    vertical-align: top;
    overflow-wrap: break-word
}
.ditailTextInput{
    display: inline-block;
    width: 100%;
    height: 250px;
    font-size: 16px;
    vertical-align: top;
    overflow-wrap: break-word
}
.ditailTitleInput{
    display: block;
    width: 100%;
    font-size: 16px;
}
.ditailContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}
