.footerWrap{
    background-color: rgba(53, 63, 64);
    height: 250px;
    padding-top: 52px;
    box-sizing: border-box;
}
.footerTextContainer{
    margin-right: 100px;
}
.footerContainer{
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerLogoLable{
    color: white;
    height: 100%;
    align-content: center;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}
.specElemMrgn{
    margin-left: 70px;
}
.footerLogo{
    height: 65px;
    width: 71px;
}
.footerText{
    font-size: 24px;
    color: white;
}
.footerSubContainer{
    text-align: right;
}
.footerlinkDecor{
    box-sizing: border-box;
    border-bottom: 2px solid rgba(53, 63, 64);
    transition: 0.2s;
}
.footerlinkDecor:hover{
    border-bottom: 2px solid white;
}
.logoContainer{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1280px){
    .footerWrap{
        height: 250px;
        padding-top: 32px;
        box-sizing: border-box;
    }
    .footerContainer{
        width: 90%;
    }
    .footerLogoLable{
        margin-left: 20px;
    }
    .specElemMrgn{
        margin-left: 70px;
    }
    .footerLogo{
        height: 60px;
        width: 66px;
    }
    .footerSubContainer{
        text-align: right;
    }
}
@media screen and (max-width: 1080px){
    .footerWrap{
        background-color: rgba(53, 63, 64);
        height: 200px;
        padding-top: 52px;
        box-sizing: border-box;
    }
    .specElemMrgn{
        margin-left: 30px;
    }
    .footerText{
        font-size: 20px;
    }
    .footerLogoLable {
        font-size: 22px;
    }
    .footerlinkDecor{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .footerWrap{
        height: 200px;
        padding-top: 52px;
        box-sizing: border-box;
    }
    .footerLogoLable{
        margin-left: 20px;
    }
    .specElemMrgn {
        margin-left: 0px;
    }

    .footerText{
        font-size: 20px;
        color: white;
    }
    .footerTextContainer{
        margin: 0px;
    }
    
}
@media screen and (max-width: 640px){
    .footerLogoLable{
        margin-right: 10px;
        margin-left: 20px;
    }
    .footerWrap {
        height: 170px;
        padding-top: 42px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 578px){
    .footerLogoLable{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 20px;
    }
    .footerLogo {
        height: 40px;
        width: 46px;
    }
    .footerContainer {
        width: 90%;
    }.logoContainer{
        display: none;
    }
}
@media screen and (max-width: 465px){
    
    .footerWrap {
        height: 150px;
        padding-top: 32px;
        box-sizing: border-box;
    }
}