a{
    all: unset;
}
.subMenuContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    z-index: 1;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
    border: 0.5px solid black;
    width: 390px;
    top: 30px;
    left: -30px;
}

.subMenuLink{
    margin: 10px 0;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    font-size: 24px;
}
.dropdownLink{
    font-size: 22px;
}
.mrgnlft{
    margin-left: 45px;
    position: relative;
    display: inline-block;
}
.mrgnlft:hover .subMenuContainer{
    display: flex;
}
.linkDecor{
    box-sizing: border-box;
    border-bottom: 2px solid white;
    transition: 0.2s;
}
.linkDecor:hover{
    border-bottom: 2px solid black;
}
.logoLable{
    margin-left: 20px;
    align-content: center;
}
.logoWrap{
    display: flex;
    align-content: center;

}
.contacts{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-size: 22px;
    flex-direction: column;
}
.wraper{
    align-content: center;
}
.icon{
    width: 50px;
    height: 50px;
}
.cart{
    margin-left: 15px;
}
.logoImg{
    height: 65px;
    width: 71px;
    margin: auto 0;
}
.dvidingLine{
    margin: 0px;
    height: 1.5px;
    border: none;
    color: rgba(53, 63, 64);
    background-color: rgba(53, 63, 64);
}
.arrowIcon{
    rotate: 180deg;
    width: 60px;
    height: 60px;

}
.mobileMenu{
    transition: 0.5s;
    overflow: hidden;
}
.openMenu{
    width: 50px;
    height: 50px;
    margin: auto 0;
    transition: 0.5s;
    display: none;
}
.mobileMenuItem{
    text-align: center;
    align-content: center;
    font-size: 22px;
    min-height: 50px;
    box-sizing: border-box;
}
.mobileMenu:hover .subMenuContainerMobile{
    display: block;
}
.crossButtonContainer{
    display: flex;
    align-items: center;
}
.cartImage{
    margin-left: 50px;
    height: 50px;
    width: 50px;
}
@media screen and (max-width: 1280px){
    .headerContainer{
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        width: 80%;
        height: 100px;
        margin: 0 auto;
        font-size: 22px;
    }
    .logoLable{
        margin-left: 5px;
        align-content: center;
    }
    .contacts{
        font-size: 20px;
    }
    .subMenuContainer{
        transform: translateY(-2px);
    }
    .mrgnlft{
        margin-left: 30px;
    }
    .logoWrap{
        align-content: center;
    }
    
    .logoImg{
        height: 60px;
        width: 66px;
    }
    .dvidingLine{
        margin: 0px;
        height: 1.5px;
        border: none;
        color: rgba(53, 63, 64);
        background-color: rgba(53, 63, 64);
    }
}
@media screen and (max-width: 1080px){
    
    .cartImage {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

    .headerContainer{
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        width: 90%;
        height: 90px;
        margin: 0 auto;
        font-size: 20px;
    }
    .subMenuContainer{
        width: 370px;
        transform: translateY(-5px);
    }
    .wraper{
        align-content: center;
    }
    .logoImg{
        height: 60px;
        width: 66px;
    }
    .contacts{
        font-size: 16px;
    }
    .mrgnlft{
        margin-left: 10px;
    }
    .dvidingLine{
        margin: 0px;
        height: 1.5px;
        border: none;
        color: rgba(53, 63, 64);
        background-color: rgba(53, 63, 64);
    }
}
@media screen and (max-width: 840px){
        .mrgnlft{
    margin-left: 25px;
}
    .contacts{
        display: none;
    }
    .links{
        display: none;
    }
    .openMenu{
        display: block;
    }
}
@media screen and (max-width: 640px){
    .logoImg{
        height: 50px;
        width: 56px;
    }
}
@media screen and (max-width: 578px){
    .logoWrap {
        margin-right: 0px;
    }
    .headerContainer {
        height: 80px;
        width: 90%;
    }
    .logoImg{
        height: 40px;
        width: 46px;
    }
    .openMenu {
        width: 45px;
        height: 45px;
    }
}