@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}
:root {
  font-family: Montserrat;
  color-scheme: light dark;
  color: rgba(53, 63, 64);
  --swiper-theme-color: rgba(53, 63, 64);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
}
p {
  margin: 0px;
}
button{
  all:unset
}
.loadingBackground{
  background-color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
}
.Cog{
  animation: rotation linear 0.5s infinite;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  position: absolute;
  z-index: 30;
}
.loadingAnimationElement{
  width: 248px;
  height: 248px;
  transform: translate(-124px, -124px);
  animation: lightingUp linear 0.75s;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFCC00;
  z-index: 20;
}
.loadingImage{
  width: 250px;
  height: 250px;
  transform: translate(-125px, -125px);
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  position: absolute;
  z-index: 30;
}
@keyframes lightingUp {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes rotation {
  from{
    transform: translate(-125px, -125px) rotate(0deg);
    transform-origin: center;
  }
  to{
    transform: translate(-125px, -125px) rotate(360deg);
    transform-origin: center;
  }
}