@font-face {
    font-family: MontserratSemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
  }
.prodFooterWrap{
    margin-top: auto;
    flex-shrink: 0;
}
.productBody{
    flex-grow: 1;
    margin-bottom: 100px;
    max-width: 1350px;
    width: 80%;
    margin: 0 auto;
}
.descrPart{
    margin: 10px 0;
}
.paramName{
    font-family: MontserratSemiBold;
}
.parametr{
    box-sizing: border-box;
    border-bottom: 2px solid #353F40;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 5px;
}
.shopHeaderWrap{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.prodImageWrap{
    width: 523px;
    height: 523px;
    position:relative;
    flex-shrink: 0;
}
.prodImage{
    max-width: 523px;
    max-height: 523px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.prodInfoTitle{
    font-family: MontserratSemiBold;
    font-size: 48px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    max-width: 1350px;
}
.infoHr{
    height: 2px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    background-color: #353F40;
}
.prodPageTitle{
    font-family: MontserratSemiBold;
    font-size: 32px;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 32px; 
}
.prodInfoWrap{
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}
.prodBaseInfo{
    margin-left: 110px;
    width: 100%;
}
.prodInfoText{
    margin:0 auto;
    font-size: 24px;
    max-width: 1350px;
    margin-bottom: 115px;
    margin-top: 32px;
}
.singleProdPrice{
    font-size: 40px;
    font-family: MontserratSemiBold;
    margin-top: 35px;
}
.paramsLable{
    margin-top: 57px;
    font-size: 36px;
    margin-bottom: 15px;
    font-family: MontserratSemiBold;
}
.addToCartBtn{
    width: 350px;
    height: 100px;
    color: white;
    background-color: #353F40;
    font-size: 32px;
    text-align: center;
}
@media screen and (max-width:1280px){
    .parametr {
        font-size: 20px;
    }
    .prodBaseInfo{
        margin-left: 60px;
    }
    .paramsLable{
    margin-top: 50px;
}
    .prodInfoText{
        font-size: 20px;
        margin-bottom: 95px;
        margin-top: 27px;
    }
    .prodInfoTitle{
        font-size: 46px;
        margin-top: 30px;
    }
    .prodPageTitle{
        margin-top: 60px;
        margin-bottom: 25px;
        font-size: 30px;
    }
    .prodImageWrap{
        height: 423px;
        width: 423px;
    }
    .prodImage{
    max-width: 423px;
    max-height: 423px;
    }
    .singleProdPrice{
        font-size: 38px;
        margin-top: 30px;
    }
}
@media screen and (max-width:970px) {
    .prodImageWrap {
        height: 323px;
        width: 323px;
    }
    .prodImage{
    max-width: 323px;
    max-height: 323px;
    }
}
@media screen and (max-width:768px){
    .prodInfoWrap{
        flex-direction: column;
        align-items: center;
    }
    .prodBaseInfo {
        margin-left: 0px;
    }
    .singleProdPrice {
        font-size: 36px;
        margin-top: 20px;
    }
    .prodInfoTitle {
        font-size: 42px;
        margin-top: 25px;
    }
     .paramsLable{
        font-size: 32px;
    margin-top: 57px;
}
    .prodInfoText {
        margin-bottom: 85px;
        margin-top: 22px;
    }
    .prodPageTitle {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 28px;
    }
}
@media screen and (max-width:576px){
    .parametr {
        font-size: 18px;
    }
    .singleProdPrice {
        font-size: 30px;
        margin-top: 20px;
    }
    .prodInfoTitle {
        font-size: 34px;
        margin-top: 20px;
    }
     .paramsLable{
    font-size: 24px;
    margin-top: 50px;
}
    .prodInfoText {
        margin-bottom: 70px;
        font-size: 18px;
        margin-top: 17px;
    }
    .prodPageTitle {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 26px;
    }
}
@media screen and (max-width:424px){
    .parametr {
        font-size: 18px;
    }
    .singleProdPrice {
        font-size: 28px;
        margin-top: 20px;
    }
    .prodInfoTitle {
        font-size: 32px;
        margin-top: 50px;
    }
    .prodInfoText {
        margin-bottom: 65px;
        margin-top: 12px;
        font-size: 14px;
    }
    .prodPageTitle {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 24px;
    }
}