
.productImagePreview{
    width: 250px;
    height: auto;
}

.headerDorder{
    border-bottom: 1px solid black;
}
.dataLoading{
    display: block;
    margin-right: 40px;
    background-color: #FFCC00;
    height: 40px;
    font-size: 20px;
    max-width: 450px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid black;
}
.redctorPageContainer{
    display: flex;
    gap: 10px;
}
.ditails-text{
    font-size: 24px;
    display: block;
    margin-top: 30px;
}
.ditails-text-description{
    display: block;
    width: 610px;
    height: 300px;
    font-size: 16px;
}

.productInputContainer{
    display:flex;
    margin: 10px 0;
    width: 500px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.drawings-previews-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.drawing-preview-item{
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    justify-content: space-between;
}
.drawing-preview{
    width: 200px;
    height: auto;
}
.productButtonContainer{
    display: flex;
    margin: 10px 0;
    flex-wrap: nowrap;
}
.margin-top{
    margin-top: 25px;
}
.imageInput{
    display: block;
    color: white;
    font-size: 18px;
    background-color: rgb(53,63,64);
}
.ditailInput{
    display: block;
    height: 35px;
    margin-top: 25px;
    font-size: 16px;
}
.textInput{
    display: inline-block;
    width: 610px;
    height: 210px;
    font-size: 16px;
    vertical-align: top;
    overflow-wrap: break-word
}
.changeProduct{
    display: block;
    margin-right: 40px;
    margin-top: 10px;
    color: white;
    background-color: rgb(53, 63, 64);
    height: 40px;
    font-size: 20px;
    max-width: 450px;
    padding: 0 15px;
    text-align: center;
    border: 1px solid black;
}
.deleteProduct{
    display: block;
    color: black;
    background-color: #FFCC00;
    height: 40px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border: 1px solid black;}

.deleteDrawing {
    display: block;
    background-color: #FFCC00;
    height: 40px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
}
.bannerDrawing{
    width: 250px;
    height: auto;
    max-height: 200px;
}