.selectRole{
    align-content: center;
    font-size: 20px;
    margin-right: 10px;
}
.imagePreview{
    width: 200px;
    height: 100px;
}
.inputContainer{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    width: 95%;
}
.imageInput{
    display: block;
    color: white;
    margin: 10px 0;
    font-size: 18px;
    background-color: rgb(53,63,64);
}
.titleInput{
    display: block;
    width: 610px;
    font-size: 16px;
}
.textInput{
    display: inline-block;
    width: 610px;
    height: 210px;
    font-size: 16px;
    vertical-align: top;
    overflow-wrap: break-word
}
.ditailTextInput{
    display: inline-block;
    width: 100%;
    height: 250px;
    font-size: 16px;
    vertical-align: top;
    overflow-wrap: break-word
}

