.orderInfo-container{
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    
    margin-bottom: 20px;
}
.productsTitle{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.orderMainWrap{
    margin: 1% 0px;
    margin-left: 30px;
    margin-right: 2%; 
    border-radius: 10px;
    max-width: 1080px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.orderContainer{
    margin-bottom: 20px;
    box-sizing: border-box;
}
.orderInfo-infogroup{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%; 
}
.personalDataItem-container{
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.personalDataItem-header{
    border-bottom: 1px solid black;
    padding-left: 30px;
    font-size: 24px;
    box-sizing: border-box;
}
.personalDataItem-text{
    font-size: 22px;
    margin: 10px 0;
    margin-left: 30px;
}
.logoutContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 63, 64);
    color: white;
    height: 60px;
    align-items: center;
}
.mainHeader{
    margin-left: 30px;
    font-size: 24px;
}
.deleteButton{
    display: block;
    color: black;
    background-color: #FFCC00;
    height: 30px;
    font-size: 20px;
    width: 120px;
    text-align: center;
    border: 1px solid black;
    margin-right: 30px;
}
.orderInfo-date{
    font-size: 20px;
    height: 44px;
    box-sizing: border-box;
    align-content: center;
    padding-top: 8px;
}
.orderPageContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.sendMailButton{
    display: block;
    height: 40px;
    width: 250px;
    border-radius: 2px;
    font-size: 18px;
    background-color: #353F40;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.messageContainer{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    right: 30px;
    top: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.closeMessageButtonContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 10px;
}
.closeMessageButton{
    margin-right: 15px;
}
.messageText{
    margin: 3px;
    text-align: center;
    font-size: 16px
}
.sendMailButton-process{
    display: block;
    height: 40px;
    width: 250px;
    border-radius: 2px;
    font-size: 18px;
    background-color: #FFCC00;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.deleteOrderButton{
    display: block;
    height: 40px;
    border-radius: 5px;
    width: 150px;
    font-size: 18px;
    background-color: #FFCC00;
    color: black;
    text-align: center;
    margin: 0 10px;
}
.reject{
    background-color: #353F40;
    color: white;
}
.accept{
    background-color: #FFCC00;
    color: black;
}
.orderInfo-item{
    font-size: 20px;
    padding: 0 5px;
    max-width: 600px;
    box-sizing: border-box;
}
.orderInfo-text{
    font-size: 20px;
    height: 44px;
    box-sizing: border-box;
    padding-top: 8px;
}

.orderInfo-header{
    border-bottom: 1px solid black;
    margin-top: 30px;
    font-size: 26px;
    padding-left: 30px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.userContainer{
    flex: 1;
}
.noOrders{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.odrerControlPannel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adressContainer{
    display: flex;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
}
.adressTitle{
    font-size: 20px;
    margin-right: 20px;
    align-content: center;
}
.acceptButton{
    display: block;
    color: white;
    border-radius: 5px;
    background-color: rgb(53, 63, 64);
    height: 30px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    margin-right: 30px;
}
.adressInput{
    max-width: 296px;
}
.personalDataSection-container{
    display: grid;
    grid-template-columns: 160px auto;
    margin: 10px 0;
}
.dataInput{
    font-size: 18px;
    width: 300px;
}
.personalDataButton-container{
    margin-left: 30px;
    margin-bottom: 20px;
}
.adressControllButtonContainer{
    display: flex;
}
.admin-mainContainer{
    display: grid;
    grid-template-columns: 160px auto;
    flex: 1;
}
.redactorMenu-container{
    box-sizing: border-box;
    padding-top: 60px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    background-color: rgb(53, 63, 64);
    color: white;
   
}
.redactorMenu-item{
    font-size: 16px;
    height: 60px;
    text-align: center;
    align-content: center;
    padding: 5px 10px;
    box-sizing: border-box;
}
.redactorMenu-item:hover{
    background-color: #FFCC00;
    color: black;
}
.logoutButton{
    display: block;
    height: 40px;
    border-radius: 10px;
    width: 150px;
    border-radius: 2px;
    font-size: 18px;
    background-color: #FFCC00;
    color: black;
    text-align: center;
    margin: 0 10px;
}
.admin-logoutContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 63, 64);
    color: white;
    height: 60px;
    align-items: center;
}
@media (max-width:1080px) {

.personalDataItem-header{
    padding-left: 30px;
    font-size: 20px;
}
.personalDataItem-text{
    font-size: 20px;
}
.mainHeader{
    margin-left: 30px;
    font-size: 22px;
}
.orderInfo-date{
    font-size: 18px;
}
.deleteButton{
    font-size: 18px;
    width: 100px;
    height: 30px;
}
.logoutButton{
    font-size: 18px;
}

.price{
    text-align: center;
}
.orderInfo-item{
    font-size: 16px;
}
.orderInfo-header{
    font-size: 24px;
}
}
@media (max-width:786px) {
.adressTitle{
    font-size: 18px;
}
    .logoutButton{
    font-size: 16px;
    margin-right: 10px;
}
.personalDataItem-header{
    padding-left: 20px;
    font-size: 18px;
}
.personalDataItem-text{
    font-size: 18px;
}
.mainHeader{
    margin-left: 20px;
    font-size: 18px;
}
.userLogoutButton{
    font-size: 16px;
    margin-right: 20px;
}
.deleteButton{
    margin-right: 10px;
}
.orderInfo-date{
    font-size: 16px;
}
.odrerControlPannel {
    padding-right: 0px;
}
.orderInfo-item{
    font-size: 14px;
}
.orderInfo-header{
    font-size: 22px;
}
.adressContainer{
    margin-top: 10px;
}
}
@media (max-width:640px) {
    .personalDataSection-container{
    display: grid;
    grid-template-columns: 140px auto;
    margin: 10px 0;
}
.orderInfo-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-bottom: 1px solid black;
    grid-template-columns: none;
}
.dataInput{
    font-size: 14px;
    width: 200px;
}
    .orderInfo-container{
    margin-bottom: 20px;
    margin-left: 0px;
}
.orderInfo-infogroup{
    box-sizing: border-box;
    padding-bottom: 5px;
}
}
@media (max-width:445px) {
    .orderInfo-infogroup {
    grid-template-columns: 55% 45%;
}
    .dataInput {
        width: 170px;
    }
        .personalDataItem-text {
        font-size: 16px;
    }
        .personalDataSection-container {
        grid-template-columns: 120px auto;
    }
.orderInfo-container {
    grid-template-columns: 20% 80%;
    
}
}